n8n-workflows/A1-prise-rdv-webhook.json
{
  "name": "A1 · Prise de RDV automatique",
  "nodes": [
    {
      "parameters": {
        "content": "A1 — Prise de RDV automatique\n\nLa page /book/:propertyId de l'app poste ici (Calendly-like).\nCrée le rendez-vous en base ; A2 (planifié) enverra confirmation + rappels.\n\nURL webhook : POST /webhook/immomail/booking\nBody attendu : { agencyId, propertyId, contactId?, contactName, contactEmail, contactPhone, type, scheduledAt }",
        "height": 240,
        "width": 520
      },
      "id": "2a8643f7-4202-45e0-ba95-e51f3bc31978",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "immomail/booking",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8f48b12e-3e8d-4512-9f6c-55206a5894b3",
      "name": "Webhook réservation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "ca5d6139-d12f-480a-97ca-b94adcc7bef4"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH new_apt AS (\n  INSERT INTO appointments\n    (id, agency_id, property_id, contact_id, contact_name, contact_email, contact_phone, type, scheduled_at, status, created_at)\n  VALUES (\n    gen_random_uuid()::text,\n    {{ ((v) => v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\")($json.body.agencyId) }},\n    {{ $json.body.propertyId ? ((v) => v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\")($json.body.propertyId) : 'NULL' }},\n    {{ $json.body.contactId ? ((v) => v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\")($json.body.contactId) : 'NULL' }},\n    {{ ((v) => v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\")($json.body.contactName) }},\n    {{ $json.body.contactEmail ? ((v) => v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\")($json.body.contactEmail) : 'NULL' }},\n    {{ $json.body.contactPhone ? ((v) => v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\")($json.body.contactPhone) : 'NULL' }},\n    {{ ((v) => v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\")($json.body.type || 'visite') }},\n    {{ ((v) => v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\")($json.body.scheduledAt) }},\n    'requested', now()::text\n  )\n  RETURNING id, agency_id, contact_name, scheduled_at\n),\nlog AS (\n  INSERT INTO activity_log (id, agency_id, automation_type, description, ref_id, occurred_at, created_at)\n  SELECT gen_random_uuid()::text, agency_id, 'A1',\n         'RDV réservé en ligne pour ' || contact_name || ' le ' || scheduled_at, id, now()::text, now()::text\n  FROM new_apt\n)\nSELECT id, agency_id, contact_name, scheduled_at FROM new_apt;",
        "options": {}
      },
      "id": "b1139ca4-3a16-4edb-99fe-645b8e29d55e",
      "name": "Créer le RDV (appointments)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        260,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "immomail-supabase",
          "name": "Supabase ImmoMail (pooler session 5432)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, appointmentId: $json.id }) }}",
        "options": {}
      },
      "id": "83119237-7944-467a-9365-d1e255982795",
      "name": "Répondre 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        520,
        300
      ]
    }
  ],
  "connections": {
    "Webhook réservation": {
      "main": [
        [
          {
            "node": "Créer le RDV (appointments)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Créer le RDV (appointments)": {
      "main": [
        [
          {
            "node": "Répondre 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "note": "Webhook de réservation publique → création du RDV. A2 prend le relais pour confirmation/rappels."
  }
}