n8n-workflows/A1-prise-rdv-webhook.json
{
  "name": "A1 · Prise de RDV automatique",
  "nodes": [
    {
      "parameters": {
        "content": "A1 — Prise de RDV automatique\n\nLa page /book/:propertyId de l'app poste ici (Calendly-like).\nCrée le rendez-vous en base ; A2 (planifié) enverra confirmation + rappels.\n\nURL webhook : POST /webhook/immomail/booking\nBody attendu : { agencyId, propertyId, contactId?, contactName, contactEmail, contactPhone, type, scheduledAt }",
        "height": 240,
        "width": 520
      },
      "id": "a887979d-4d44-42bc-99d3-6e4ee736f1cc",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "immomail/booking",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f40108a3-15f1-4695-91d6-1a8fbc330074",
      "name": "Webhook réservation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "419241ea-87d1-4d6b-a271-9c4015307ed8"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH new_apt AS (\n  INSERT INTO appointments\n    (id, agency_id, property_id, contact_id, contact_name, contact_email, contact_phone, type, scheduled_at, status, created_at)\n  VALUES (\n    gen_random_uuid()::text,\n    {{ JSON.stringify($json.body.agencyId) }},\n    {{ $json.body.propertyId ? JSON.stringify($json.body.propertyId) : 'NULL' }},\n    {{ $json.body.contactId ? JSON.stringify($json.body.contactId) : 'NULL' }},\n    {{ JSON.stringify($json.body.contactName) }},\n    {{ $json.body.contactEmail ? JSON.stringify($json.body.contactEmail) : 'NULL' }},\n    {{ $json.body.contactPhone ? JSON.stringify($json.body.contactPhone) : 'NULL' }},\n    {{ JSON.stringify($json.body.type || 'visite') }},\n    {{ JSON.stringify($json.body.scheduledAt) }},\n    'requested', now()::text\n  )\n  RETURNING id, agency_id, contact_name, scheduled_at\n),\nlog AS (\n  INSERT INTO activity_log (id, agency_id, automation_type, description, ref_id, occurred_at, created_at)\n  SELECT gen_random_uuid()::text, agency_id, 'A1',\n         'RDV réservé en ligne pour ' || contact_name || ' le ' || scheduled_at, id, now()::text, now()::text\n  FROM new_apt\n)\nSELECT id, agency_id, contact_name, scheduled_at FROM new_apt;",
        "options": {}
      },
      "id": "fd6e2c24-2d7e-4282-b77b-fcc122e94d66",
      "name": "Créer le RDV (appointments)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        260,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "immomail-supabase",
          "name": "Supabase ImmoMail (pooler session 5432)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, appointmentId: $json.id }) }}",
        "options": {}
      },
      "id": "b8ad37b7-a13b-49a0-a626-f71d8ae8a5fa",
      "name": "Répondre 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        520,
        300
      ]
    }
  ],
  "connections": {
    "Webhook réservation": {
      "main": [
        [
          {
            "node": "Créer le RDV (appointments)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Créer le RDV (appointments)": {
      "main": [
        [
          {
            "node": "Répondre 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "note": "Webhook de réservation publique → création du RDV. A2 prend le relais pour confirmation/rappels."
  }
}