n8n-workflows/A8-parrainage.json
{
  "name": "A8 · Demande de parrainage post-transaction",
  "nodes": [
    {
      "parameters": {
        "content": "A8 — Demande de parrainage\n\nQuotidien 11h. 30 jours après la signature, propose au client\nde parrainer un proche (bon 200 €). Email + SMS, idempotent.",
        "height": 180,
        "width": 480
      },
      "id": "52d065fe-219a-4e44-a098-d26ba31b94df",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        40
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 11
            }
          ]
        }
      },
      "id": "05ad0ab8-b6a6-47f7-b9cf-e9f19c8e174a",
      "name": "Chaque jour 11h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT t.id, t.agency_id, t.type, t.signed_date,\n       c.id AS contact_id, c.first_name, c.last_name, c.email, c.phone,\n       p.title AS prop_title,\n       'A8:referral:' || t.id AS run_key\nFROM transactions t\nJOIN contacts c ON c.id = t.contact_id\nLEFT JOIN properties p ON p.id = t.property_id\nWHERE t.referral_requested_at IS NULL\n  AND now() >= (t.signed_date::timestamptz + interval '1 month')\n  AND NOT EXISTS (SELECT 1 FROM automation_runs ar WHERE ar.run_key = 'A8:referral:' || t.id);",
        "options": {}
      },
      "id": "d3ef9acb-9434-49f7-9710-ad449bead02b",
      "name": "Parrainages dus (J+30)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "immomail-supabase",
          "name": "Supabase ImmoMail (pooler session 5432)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const AGENCY = $env.IMMOMAIL_AGENCY_NAME || 'votre agence';\nfor (const item of $input.all()) {\n  const j = item.json;\n  const name = ((j.first_name||'')+' '+(j.last_name||'')).trim();\n  const verb = j.type === 'rental' ? 'emménagé' : 'signé';\n  item.json.full_name = name;\n  item.json.subject = 'Un mois déjà — parrainez vos proches 🎁';\n  item.json.body = 'Bonjour ' + j.first_name + ',\\n\\nCela fait un mois que vous avez ' + verb + ' pour ' + (j.prop_title||'votre bien') + ' — nous espérons que tout se passe bien !\\n\\nSi vous connaissez un proche qui souhaite acheter, vendre ou louer, recommandez-nous : pour chaque mise en relation aboutie, nous offrons un bon de 200 €.\\n\\nMerci de votre confiance,\\n' + AGENCY;\n  item.json.sms_body = j.first_name + ', parrainez un proche chez ' + AGENCY + ' et recevez 200 € par mise en relation aboutie ! Merci de votre confiance.';\n}\nreturn $input.all();"
      },
      "id": "18e6d365-ac56-44e6-ae3d-9780861f92bd",
      "name": "Rédiger le parrainage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.IMMOMAIL_FROM_EMAIL || 'agence@immomail.demo' }}",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "text",
        "text": "={{ $json.body }}",
        "options": {}
      },
      "id": "cbd9ae72-5360-4243-a3d2-265cbf281cb2",
      "name": "Email parrainage",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        720,
        220
      ],
      "credentials": {
        "smtp": {
          "id": "immomail-smtp",
          "name": "SMTP ImmoMail"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SMS_API_URL || 'https://api.brevo.com/v3/transactionalSMS/sms' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sender: 'ImmoMail', recipient: ={{ $json.phone }}, content: ={{ $json.sms_body }} }) }}",
        "options": {}
      },
      "id": "d1465c84-421c-4879-ad0b-ee6785d8d660",
      "name": "SMS parrainage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "immomail-sms",
          "name": "SMS Provider (Brevo / Twilio)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH upd AS (\n  UPDATE transactions SET referral_requested_at = now()::text WHERE id = {{ ((v) => v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\")($json.id) }}\n),\nrun AS (\n  INSERT INTO automation_runs (id, agency_id, automation_type, ref_id, run_key, executed_at, created_at)\n  VALUES (gen_random_uuid()::text, {{ ((v) => v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\")($json.agency_id) }}, 'A8', {{ ((v) => v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\")($json.id) }}, {{ ((v) => v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\")($json.run_key) }}, now()::text, now()::text)\n  ON CONFLICT (run_key) DO NOTHING\n),\nmsg AS (\n  INSERT INTO messages (id, agency_id, channel, to_contact_id, to_name, to_address, subject, body, automation_type, sent_at, created_at)\n  VALUES (gen_random_uuid()::text, {{ ((v) => v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\")($json.agency_id) }}, 'email', {{ ((v) => v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\")($json.contact_id) }}, {{ ((v) => v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\")($json.full_name) }}, {{ ((v) => v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\")($json.email) }}, {{ ((v) => v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\")($json.subject) }}, {{ ((v) => v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\")($json.body) }}, 'A8', now()::text, now()::text)\n)\nINSERT INTO activity_log (id, agency_id, automation_type, description, ref_id, occurred_at, created_at)\nVALUES (gen_random_uuid()::text, {{ ((v) => v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\")($json.agency_id) }}, 'A8', {{ ((v) => v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\")('Demande de parrainage (J+30) → ') }} || {{ ((v) => v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\")($json.full_name) }}, {{ ((v) => v == null ? 'NULL' : \"'\" + String(v).replace(/'/g, \"''\") + \"'\")($json.id) }}, now()::text, now()::text);",
        "options": {}
      },
      "id": "56d51bbb-31c4-4f59-8c39-14d0baf4610a",
      "name": "Journaliser A8 + horodater",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        980,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "immomail-supabase",
          "name": "Supabase ImmoMail (pooler session 5432)"
        }
      }
    }
  ],
  "connections": {
    "Chaque jour 11h": {
      "main": [
        [
          {
            "node": "Parrainages dus (J+30)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parrainages dus (J+30)": {
      "main": [
        [
          {
            "node": "Rédiger le parrainage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rédiger le parrainage": {
      "main": [
        [
          {
            "node": "Email parrainage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email parrainage": {
      "main": [
        [
          {
            "node": "SMS parrainage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS parrainage": {
      "main": [
        [
          {
            "node": "Journaliser A8 + horodater",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "note": "Demande de parrainage 30 jours après la transaction."
  }
}